header {
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: #212529;
    color: white;
}
header > h2{
    padding-bottom: 20px;
}

nav > button{
  float: right;
}

h1, h2, h5{
    text-align: center;
    margin: 0;
}

body{
    background-image: url("/assets/img/background-patounes.jpg");
    width: 70vw;
    margin: 0 15vw 50px;
}

main{
    position: relative;
    background-color: rgba(255,255,255,.95);
    border: black 2px solid;
    padding: 10px;
    min-height: 70vh;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 35px;
    width: 100vw;
    padding: 5px 0 0 8px;
    color: white;
    background-color:rgb(15, 15, 15);
}

/*****************************************
RANDOM IMAGE
*****************************************/

#random-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
#random-container div{
    position: relative;
    height: 65vh;
}

#random-img-container{
    max-height: 65vh;
    width: auto;
}

.random-img, .button-container > button{
    position: inherit;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    max-width: 50vw;
    height: auto;
    max-height: 65vh;
}

/*****************************************
INFO IMAGE
*****************************************/

.info-img{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 30vw;
    height: auto;
    max-height: 65vh;
}

p.desc-pic{
    max-width: 35vw;
}

div.no-recuperation{
    max-width: 35vw;
    margin-bottom: 25px;
}

/*****************************************
BREEDS LIST
*****************************************/

#list-breeds-container{
    height: 55vh;
    overflow-y: scroll;
}


/*****************************************
LIBRARY IMAGE
*****************************************/

.form-library{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#library-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: 55vh;
}
.library-img-container{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2vh 1vw;
}
.library-img-container .library-img{
    position: inherit;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.pagination-nav{
    z-index: 2;
    background-color: none!important;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 0;
    text-align: center;
}

.pagination-nav a{
    color:rgb(15, 15, 15);
}
.pagination-nav ul{
   display: flex;
   justify-content: center;
}
.pagination-nav a:hover{
    background-color: rgb(15, 15, 15);
    color:rgb(215, 215, 215);
}