<%- include('header') %>
    
    <h1>Welcome to the Cat Breeds</h1>
    <h5>Here you can get all information about all different cat's breeds</h5>
    <br>
    <div id="list-breeds-container">
        <div class="accordion">

        <% for(var i=0; i < listBreeds.length; i++) { %>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading<%= i %>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= i %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= i %>">
                    <%= listBreeds[i].name %> 
                </button>
                </h2>
                <div id="panelsStayOpen-collapse<%= i %>" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <strong>Origin :</strong> <%= listBreeds[i].origin %> - <%= listBreeds[i].country_code %> 
                    </div>
                    <div class="accordion-body">
                        <strong>Life Span :</strong> <%= listBreeds[i].life_span %> 
                    </div>
                    <div class="accordion-body">
                        <strong>Temperament :</strong> <%= listBreeds[i].temperament %> 
                    </div>
                    <div class="accordion-body">
                        <strong>Description :</strong> <%= listBreeds[i].description %> 
                    </div>
                </div>
            </div>

        <% } %>
        </div>
    </div>

<%- include('footer') %>