<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main-style.css">
    
    <title>Accueil Cute-Kitty</title>
</head>


<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<body>

    <header>
        <h1>Cute Kitty</h1>
        <h2>Full of cute little cat </h2>
        
    </header>

    <%- include('nav') %> 

    <main id="main-block">