<%- include('header') %>

    <% if (typeof randomPic_url !== 'undefined') { %>
        <div id="random-container">
            <a href="/random"><div class="button-container"><button type="button" class="btn btn-lg btn-dark">MORE CAT</button></div></a>
            <div id="random-img-container">
                <img class="random-img" src="<%- randomPic_url %>" alt="cat picture">
            </div>
            <a href="/info/<%= randomPic_id %>"><div class="button-container"><button type="button" class="btn btn-lg btn-dark">Information</button></div></a>
        </div>  

    <% } else { %>

        <h1 class="text-lg-center">Welcome on the Cute Kitty page !</h1>
        <p class="text-lg-center">
            Be free to run through the different fonctionality of this lowly website wich help me to learn NodeJS 
        </p> 
        <hr>
        <br><br>
        <h4>Breeds</h4>
        <p class="text-lg-left">
            Give information for all existing breeds in the API.
        </p>
        <h4>Library</h4>
        <p class="text-lg-left">
            Show you all the existing pictures.
        </p>
        <h4>Random Pic</h4>
        <p class="text-lg-left">
            Used to get a random picture among all existing ones. <br>
            Allow you to see information from this picture. 
        </p>
        
    <% } %>

<%- include('footer') %>