<%- include('header') %>
    
    <h1>Welcome to the Cat Library</h1>
    <%= console.log(searchInfo) %> 
    <br>
    <form class="form-library" action="/library/search" method="post">
        <!-- select breed -->
        <select class="form-select" name="breed" aria-label="Default select example">
            <option selected value="undefined">Select Bread</option>
            <% for(var i=0; i < listBreeds.length; i++) { %>
                <option value="<%= listBreeds[i].id %>"><%= listBreeds[i].name %></option>
             <% } %>
        </select>
        <!-- select categorie -->
        <select class="form-select" name="categorie" aria-label="Default select example">
            <option selected value="undefined">Select Categorie</option>
            <% for(var i=0; i < listCategories.length; i++) { %>
                <option value="<%= listCategories[i].id %>"><%= listCategories[i].name %></option>
             <% } %>
        </select>
        <!-- envoie la recherche du formulaire -->
        <button type="submit" class="btn btn-outline-dark">Search</button>  

    </form>

    <section id="library-container">
        <% for(var i=0; i < listPictures.length; i++) { %>
            
            <div class="library-img-container">
                <img class="library-img" src="<%= listPictures[i].url %>" alt="cat picture">
            </div>
         <% } %>

         <% if (parseInt(listPictures.lenght) == 0) { %>
            <h2>No pictures found for this search sorry :(</h2>
         <% } %>
    </section>
    <%= console.log(listPictures.length) %>
    <% if (parseInt(listPictures.lenght) == parseInt(100)) { %>
        
    <nav class="pagination-nav" aria-label="library-nav center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/library/<%= parseInt(searchInfo['page'])-1 %>">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#"><%= parseInt(searchInfo['page']) %></a></li>
            <li class="page-item"><a class="page-link" href="/library/<%= parseInt(searchInfo['page'])+1 %>">Next</a></li>
        </ul>
    </nav>
     <% } %>

    

<%- include('footer') %>