<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/breeds">Breeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/library/1">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/random">Random Pic</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
