<%- include('header') %>

    <% if (typeof raw_data.breeds !== 'undefined' && raw_data.breeds[0] !== 'undefined') { %>
        <h4>Bread name : </h4>
        <p class="desc-pic"><%= raw_data.breeds[0].name %></p>
        <h4>Origin : </h4>
        <p class="desc-pic"><%= raw_data.breeds[0].origin %> - <%= raw_data.breeds[0].country_code %></p>
        <h4>Life Span : </h4>
        <p class="desc-pic"><%= raw_data.breeds[0].life_span %> years</p>
        <h4>Temperament : </h4>
        <p class="desc-pic"><%= raw_data.breeds[0].temperament %></p>
        <h4>Description : </h4>
        <p class="desc-pic"><%= raw_data.breeds[0].description %></p>
        
        <% } else { %>

            <div class="no-recuperation">
                <h1>No information about Cat Breed :(</h1>
            </div>
            
        <% } %>

    <% if (typeof raw_data.categories !== 'undefined') { %>
        <h4>Picture categorie(s) : </h4>
        <ul>
        <% for(var i=0; i < raw_data.categories.length; i++) { %>
            <li><%= raw_data.categories[i].name %> </li>
        <% } %>
        </ul>
        
        <% } else { %>

            <div class="no-recuperation">
                <h1>No information about Picture Categories :(</h1>
            </div>
            
        <% } %>

    <img class="info-img" src="<%= raw_data.url %> " alt="cat picture">

<%- include('footer') %>